:root {
	/* the following css properties are present in order for the text completion during development to function */
	/* they are overwritten by the THEME values in 'themePresets.ts' */
	--theme-colors-color: darkblue;           /* Primary text color */
	--theme-colors-inverse_color: #d3e3fd;    /* Text color on non_normal background */
	--theme-colors-bg_app_bar: darkblue;      /* Color of header and footer */
	--theme-colors-bg_color: #d3e3fd;         /* Background color */
	--theme-colors-bg_panel: #d3e3fd; 	      /* Dialog background color */
	--theme-colors-divider: darkblue; 	      /* Dialog Title background color */
	--theme-colors-primary: darkblue;         /* Dialog primary button text color */
	--theme-colors-list_divider: darkblue;    /* Color of lines between columns in the error list */
	--theme-colors-slider: darkblue;		  /* Color of lines between views */
	--theme-colors-accent: #f50057;			  /* Color to get attention to an element */
	--theme-colors-primary_button_text: black; /* Color of primary buttons in dialogs */
	--theme-colors-secondary_button_text: grey; /* Color of non-primary buttons in dialogs */
	--theme-colors-text_app_bar: 'white';		/* Color of header and footer text */

	/* Projectional Editor "globals" */
	--theme-colors-bg_editor: white;			/* The background color of the editor */
	--theme-colors-text_editor: darkblue;		/* The color of the text, unless set otherwise by the projection */
	--theme-fonts-size_editor: 14px;				/* The font size of the text, unless set otherwise by the projection */
	--theme-fonts-style_editor: italic;				/* The font size of the text, unless set otherwise by the projection */
	--theme-fonts-weight_editor: normal;				/* The font size of the text, unless set otherwise by the projection */
	--theme-fonts-family_editor: "Arial";				/* The font size of the text, unless set otherwise by the projection */
	/* TextBox */
	--theme-colors-bg_empty_before_text_box: #f4f4f4;
	--theme-colors-bg_text_box: white;
	--theme-colors-color_text_box: darkblue;
	--theme-colors-color_empty_before_text_box: darkblue;
	/* AliasBox && SelectBox */
	--theme-colors-bg_empty_before_alias_box: #f4f4f4;
	--theme-colors-bg_alias_box: white;
	--theme-colors-color_alias_box: darkblue;
	/* Dropdown */
	--theme-colors-bg_dropdown_component: lightblue;
	--theme-colors-border_dropdown_component: darkblue;
	--theme-colors-color_dropdownitem_component: darkblue;
	--theme-colors-border_dropdownitem_component: darkblue;
	/* Selectable */
	--theme-colors-bg_selected: rgba(211, 227, 253, 255);
	--theme-colors-border_selected: darkblue;
	/* ProjectIt sizes */
	--pi-header-height: 36px;
	--pi-footer-height: 16px;
	--pi-menu-height: 24px;
	--pi-statusbar-height: 24px;

	/* ProjectIt font sizes */
	--pi-header-font-size: 16px;
	--pi-button-font-size: 12px;
	--pi-error-font-size: 14px;
	--pi-menuitem-font-size: 14px;

	/* other colors */
	--pi-selected-background-color: rgba(211, 227, 253, 255);
	--pi-selected-color: red; /* to be done */
	--pi-popup-border: none;
	--pi-popup-background: #fff;
	--pi-popup-box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5);
	--pi-list-background-color: white;

	/* fonts, etc */
	--font-family: Roboto, Helvetica, sans-serif;
	--heading-font-family: var(--font-family);
	--button-font-family: var(--font-family);
	--code-font-family: 'Roboto Mono', Menlo, Consolas, monospace;

	/* added for documentation to theme variables from ProjectIt */
	--theme-colors-button_color: white;
	--theme-colors-button_bg_color: rgba(0,0,139, 1); /* darkblue with opacity 1 */
	--theme-colors-button_active: rgba(0,0,139, .7); /* darkblue with opacity .7 */
	--theme-colors-button_hover: rgba(0,0,139, .8); /* darkblue with opacity .8 */
	--theme-colors-ripple_color: #c199f9;
	--theme-colors-tooltip_color: white;
	--theme-colors-tooltip_background: red;
	--theme-colors-note_background: #C199F93C;
	--theme-colors-figure_background: cornsilk;
	--theme-colors-table_background: cornsilk;
	--theme-colors-block_quote_background: cornsilk;
	--font-mono: 'Fira Mono', monospace;
	--column-width: 62rem;
	--max-image-width: 54rem;
	--column-margin-top: 1rem;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--theme-colors-color);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

blockquote {
	margin: 0;
	padding: 2px 8px;
	background: var(--theme-colors-block_quote_background);
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

img {
	max-width: var(--max-image-width);
}

table {
	background: var(--theme-colors-table_background);
	margin: auto;
	border: 1px var(--theme-colors-divider) solid;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 10px;
	text-align: left;
	border: 1px var(--theme-colors-divider) solid;
}
