:root {
    /* all colors are put in variables, to be able to switch from light to dark theme */
    --theme-colors-code_color: #d4d4d4;
    --theme-colors-code_background: #264F78;
    --theme-colors-code_background_color: #1e1e1e;
    --theme-colors-code_keyword: #c586c0;
    --theme-colors-token_color_string: #ce9178;
    
    --theme-colors-token_keyword: #569CD6;
    --theme-colors-token_constant: #9cdcfe;
    --theme-colors-token_number: #b5cea8;
    --theme-colors-token_not_pre: #db4c69;
    --theme-colors-token_operator: #d4d4d4;
    --theme-colors-token_att_value: #ce9178;
    --theme-colors-token_atrule: #c586c0;
    --theme-colors-token_function: #dcdcaa;
    --theme-colors-token_regex: #d16969;
    --theme-colors-token_boolean: #569cd6;
    --theme-colors-token_class_name: #4ec9b0;
    --theme-colors-token_comment: #6a9955;

    --theme-colors-code_border: #dddddd;
}

pre[class*="language-"],
code[class*="language-"] {
    color: var(--theme-colors-code_color);
    font-size: 13px;
    text-shadow: none;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
    text-shadow: none;
    background: var(--theme-colors-code_background);
}

@media print {
    pre[class*="language-"],
    code[class*="language-"] {
        text-shadow: none;
    }
}

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    background: var(--theme-colors-code_background_color);
    border: 1px solid var(--theme-colors-code_border);
}

:not(pre) > code[class*="language-"] {
    padding: .1em .3em;
    border-radius: .3em;
    color: var(--theme-colors-token_not_pre);
    background: var(--theme-colors-code_background_color);
    border: 1px solid var(--theme-colors-code_border);
}
/*********************************************************
* Tokens
*/
.namespace {
    opacity: .7;
}

.token.doctype .token.doctype-tag {
    color: var(--theme-colors-token_keyword);
}

.token.doctype .token.name {
    color: var(--theme-colors-token_constant);
}

.token.comment,
.token.prolog {
    color: var(--theme-colors-token_comment)
}

.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation {
    color: var(--theme-colors-token_operator);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
    color: var(--theme-colors-token_number);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted {
    color: var(--theme-colors-token_color_string);
}

.language-css .token.string.url {
    text-decoration: underline;
}

.token.operator,
.token.entity {
    color: var(--theme-colors-token_operator);
}

.token.operator.arrow {
    color: var(--theme-colors-token_keyword);
}

.token.atrule {
    color: var(--theme-colors-token_att_value);
}

.token.atrule .token.rule {
    color: var(--theme-colors-token_atrule);
}

.token.atrule .token.url {
    color: var(--theme-colors-token_constant);
}

.token.atrule .token.url .token.function {
    color: var(--theme-colors-token_function);
}

.token.atrule .token.url .token.punctuation {
    color: var(--theme-colors-token_operator);
}

.token.keyword {
    color: var(--theme-colors-token_keyword);
}

.token.keyword.module,
.token.keyword.control-flow {
    color: var(--theme-colors-code_keyword);
}

.token.function,
.token.function .token.maybe-class-name {
    color: var(--theme-colors-token_function);
}

.token.regex {
    color: var(--theme-colors-token_regex);
}

.token.important {
    color: var(--theme-colors-token_boolean);
}

.token.italic {
    font-style: italic;
}

.token.constant {
    color: var(--theme-colors-token_constant);
}

.token.class-name,
.token.maybe-class-name {
    color: var(--theme-colors-token_class_name);
}

.token.console {
    color: var(--theme-colors-token_constant);
}

.token.parameter {
    color: var(--theme-colors-token_constant);
}

.token.interpolation {
    color: var(--theme-colors-token_constant);
}

.token.punctuation.interpolation-punctuation {
    color: var(--theme-colors-token_boolean);
}

.token.boolean {
    color: var(--theme-colors-token_boolean);
}

.token.property,
.token.variable,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name {
    color: var(--theme-colors-token_constant);
}

.token.selector {
    color: #d7ba7d;
}

.token.escape {
    color: #d7ba7d;
}

.token.tag {
    color: var(--theme-colors-token_boolean);
}

.token.tag .token.punctuation {
    color: #808080;
}

.token.cdata {
    color: #808080;
}

.token.attr-name {
    color: var(--theme-colors-token_constant);
}

.token.attr-value,
.token.attr-value .token.punctuation {
    color: var(--theme-colors-token_att_value);
}

.token.attr-value .token.punctuation.attr-equals {
    color: var(--theme-colors-token_operator);
}

.token.entity {
    color: var(--theme-colors-token_boolean);
}

.token.namespace {
    color: var(--theme-colors-token_class_name);
}
/*********************************************************
* Language Specific
*/

pre[class*="language-javascript"],
code[class*="language-javascript"],
pre[class*="language-jsx"],
code[class*="language-jsx"],
pre[class*="language-typescript"],
code[class*="language-typescript"],
pre[class*="language-tsx"],
code[class*="language-tsx"] {
    color: var(--theme-colors-token_constant);
}

pre[class*="language-css"],
code[class*="language-css"] {
    color: var(--theme-colors-token_att_value);
}

pre[class*="language-html"],
code[class*="language-html"] {
    color: var(--theme-colors-token_operator);
}

.language-regex .token.anchor {
    color: var(--theme-colors-token_function);
}

.language-html .token.punctuation {
    color: #808080;
}
/*********************************************************
* Line highlighting
*/
pre[class*="language-"] > code[class*="language-"] {
    position: relative;
    z-index: 1;
}

.line-highlight.line-highlight {
    background: #f7ebc6;
    box-shadow: inset 5px 0 0 #f7d87c;
    z-index: 0;
}
